.container {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(24, 144, 255, 0.2);
  color: white;
  padding: 24px;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;

  .wrapper {
    .wrapper__align--center {
      align-items: center;
    }

    .ant-row {
      gap: 24px;

      .ant-card-bordered {
        border-radius: 24px !important;
        border: none;

        .ant-card-body {
          padding: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .container {
    align-items: start;
    height: 100%;

    .wrapper {
      .ant-col-4 {
        max-width: 100%;
      }

      .ant-col-19 {
        .ant-card-bordered {
          height: 100% !important;
          .header__content {
            display: none;
          }

          .stats__wrapper {
            .stats__header {
              text-align: center;
            }

            .stats__sub--header {
              text-align: center;
            }

            .stat-desc {
              margin-top: 24px;
            }
          }
        }
      }
    }
  }
}
