.container {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(24, 144, 255, 0.2);
  color: white;
  padding: 24px;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;

  .wrapper {
    .wrapper__align--center {
      align-items: center;
    }

    .ant-row {
      gap: 24px;

      .ant-card-bordered {
        border-radius: 24px !important;
        border: none;

        .ant-card-body {
          padding: 20px;
        }
      }
    }
  }
}
