.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  min-height: 80px;
  width: 100%;
  background-color: #434343;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-title {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.title-text {
  font-size: 30px;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
}
.school-logo-wrapper {
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.school-logo {
  width: 80px;
  height: 80px;
}
.faculty-logo {
  margin-left: 15px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.content-wrapper {
  margin: 80px;
}

.temp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}
.temp-title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Prompt', sans-serif;
}
.temp-value {
  font-size: 50px;
  font-weight: bold;
}
.switch-wrapper {
  margin-top: 100px;
}
.switch-content {
  margin-top: 50px;
  font-family: 'Prompt', sans-serif;
}
.mode-title {
  margin-left: 20px;
  font-family: 'Prompt', sans-serif;
}

.footer {
  display: flex;
  font-family: 'Prompt', sans-serif;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #434343;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434343;
  color: #ffffff;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  height: 60px;
  width: 310px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 14px;
  position: absolute;
  right: 50px;
  top: 130px;
}

@media (max-width: 480px) {
  .header-title {
    padding-top: 0;
  }
  .faculty-logo,
  .school-logo {
    width: 40px;
    height: 40px;
  }
  .title-text {
    font-size: 16px;
    margin-bottom: 0;
  }
  .clock-wrapper {
    position: static;
    margin: 20px auto;
  }
  .content-wrapper {
    margin: 0;
    padding: 0 20px;
  }
  .ant-tabs-content-holder .ant-row {
    margin-bottom: 52px;
  }
  .ant-row .col-item {
    margin-top: 0 !important;
  }
  .switch-wrapper {
    margin-top: 0;
  }
  .switch-content {
    margin-top: 24px;
  }
  .switch-content .ant-col-11 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .switch-content .mode-title {
    margin-left: 0;
  }
  .footer {
    font-size: 12px;
    text-align: center;
    padding: 0 14px;
  }
}
