.container {
  background: #051139;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  min-height: 80px;
  width: 100%;
  background-color: #111c44;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.static-tittle {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-top: 24px;
}
.control-tittle {
  font-size: 32px;
  color: white;
  font-weight: bold;
}
.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-title {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title-text {
  font-size: 20px;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.school-logo-wrapper {
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.school-logo {
  width: 64px;
  height: 64px;
}
.faculty-logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.content-wrapper {
  margin: 0 24px;
  padding: 12px 0;
}

.content-wrapper .ant-tabs-tab-active {
  background-color: #2a3357;
  border-radius: 4px;
}

.ant-tabs-left .ant-tabs-content-holder {
  border-left: none !important;
}

.ant-tabs-left .ant-tabs-ink-bar {
  background: transparent !important;
}

.ant-tabs-left .ant-tabs-nav {
  min-height: calc(100vh - 24px);
  height: 100%;
  border-radius: 12px;
  background-color: #111c44;
  padding: 24px 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.ant-row .col-item {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 114px;
  background: #111c44;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.temp-wrapper {
  padding: 12px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.temp-title span {
  opacity: 0.6;
}
.temp-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Prompt', sans-serif;
}
.temp-title .icon {
  color: white;
  opacity: 1;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.temp-title .icon-temp {
  background-image: linear-gradient(310deg, #f5365c 0%, #f56036 100%);
}
.temp-title .icon-air {
  background-image: linear-gradient(310deg, #f5365c 0%, #f56036 100%);
}
.temp-title .icon-soil {
  background-image: linear-gradient(310deg, #2dce89 0%, #2dcecc 100%);
}
.temp-title .icon-light {
  background-image: linear-gradient(310deg, #fb6340 0%, #fbb140 100%);
}
.temp-value {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.switch-wrapper {
  background-color: #111c44;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 24px;
  margin: 24px 20px;
  border-radius: 12px;
}
.switch-content {
  margin-top: 50px;
  font-family: 'Prompt', sans-serif;
}
.mode-title {
  color: white;
  margin-left: 20px;
  font-family: 'Prompt', sans-serif;
}

.footer {
  display: flex;
  font-family: 'Prompt', sans-serif;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #434343;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.clock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111c44;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #ffffff;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  height: 60px;
  width: 310px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 14px;
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.body-wrapper {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  align-items: start;
}

.members,
.mentor {
  display: flex;
  flex-direction: column !important;
  padding: 24px;
  width: 50%;
  border-radius: 12px;
  background-color: #111c44;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.title-member,
.title-mentor,
.title-project {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}

.member,
.info-mentor {
  display: flex !important;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.member-desc,
.mentor-desc,
.project-desc {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.member-desc .desc-title,
.mentor-desc .desc-title,
.desc-project .desc-title {
  font-size: 14px;
  opacity: 0.6;
}

.mentor-img img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.member-img img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.desc-project {
  border-radius: 12px;
  background-color: #111c44;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-top: 24px;
  padding: 24px;
}

.desc-project .info-project {
  display: flex;
  gap: 24px;
}

.project-img img {
  border-radius: 12px;
}

.project-desc span {
  line-height: 1.5;
  word-spacing: 2px;
}

@media (max-width: 480px) {
  .header-title {
    padding-top: 0;
  }
  .faculty-logo,
  .school-logo {
    width: 40px;
    height: 40px;
  }
  .title-text {
    font-size: 16px;
    margin-bottom: 0;
  }
  .clock-wrapper {
    position: static;
    margin: 20px auto;
  }
  .content-wrapper {
    margin: 0;
    padding: 0 20px;
  }
  .ant-tabs-content-holder .ant-row {
    margin-bottom: 52px;
  }
  .ant-row .col-item {
    margin-top: 0 !important;
  }
  .switch-wrapper {
    margin-top: 0;
  }
  .switch-content {
    margin-top: 24px;
  }
  .switch-content .ant-col-11 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .switch-content .mode-title {
    margin-left: 0;
  }
  .footer {
    font-size: 12px;
    text-align: center;
    padding: 0 14px;
  }
}
